<html>
    <head>
        <style type='text/css'>
        .concealed{
            display: none;
        }
	body{
		margin-left:auto;
		margin-right:auto;
		background-color:grey;
		width:50%;
		
	}
        </style>
        <script type='text/javascript' src="static/Point2D.js"></script>
        <script type='text/javascript' src="static/xhr.js"></script>
        <script type='text/javascript' src="static/polygon.js"></script>
        <script type='text/javascript' src="static/frame_initalizer.js"></script>
		<!-- drawing page javascript starts here -->
		<script type='text/javascript'>         
		function load(){
			var draw_cropped_frame = function(self){		
			self.canvas.getContext('2d').drawImage(self.video, 
			158, 31, 364, 379, //Magic numbers from the matlab code.
			0, 0, self.canvas.width, self.canvas.height);}
            
            var canvas = document.getElementById("frame_canvas");
            var video_file = document.getElementById("ultrasound_video_file");
            var submit_button = document.getElementById("submit_button");
            var form = document.getElementById("main_form");
	    	var video_player = document.getElementById('ultrasound_video_container');
			var frame_handler = new FrameInitalizer(canvas,form,video_player, {"override_image_draw": (function(options){
					this._drawImage({"image_draw":(function(self){
					draw_cropped_frame(self);
				})});
			})});	
			var number_box  = document.getElementById('ultrasound_segment_count');
			var next_button = document.getElementById('next_frame_button');
			var prev_button = document.getElementById('previous_frame_button');
		//In order to add different tools, we could consider adding a CanvasStateManager class or something.
		//All the class would do is set up events using a callback, and then have a getter for the canvas it's managing.
		///I'll think about this.
			var clicked = false;
			var handle_click = (function(e){
				if(frame_handler.source === null){
					return;
				}
			var xPosition = event.pageX - frame_handler.canvas.offsetLeft;
        	var yPosition = event.pageY - frame_handler.canvas.offsetTop;
            frame_handler.addPointToActive(new Point2D(xPosition+1, yPosition+1));//Matlab starts form 1
		});
        //canvas drawing function **********************************************************************
		canvas.addEventListener('mousedown', (function(e){
			clicked = true;
			handle_click(e);
			frame_handler.drawFrame();
		}));
		canvas.addEventListener('mouseup', (function(e){
			clicked = false;
			frame_handler.drawFrame();
		}));
		canvas.addEventListener('mousemove', (function(e){
			if(clicked){
				handle_click(e);
				frame_handler.drawFrame();
			}
		}));
		//End of canvas drawing function*****************************************************************
        submit_button.addEventListener('click', (function(e){
        	frame_handler.submit();
    	}));
        clear_button.addEventListener('click', (function(e){
        	frame_handler.clearActiveFrame();
        	frame_handler.drawFrame();
        }));
            video_file.addEventListener('change', (function(e){
		    console.log("Change detected...");
            frame_handler.updateVideo(video_file, function(){
			console.log("Video Loaded.");
			//Overwrite with matlab values to prevent over-clicking.
			frame_handler.canvas.width  = 364
			frame_handler.canvas.height = 379
        	document.getElementById("hidden_block").className = '';
			frame_handler.updateFrameList(Math.floor(number_box.value));
            	frame_handler.drawFrame();
		    	});
            }));
			number_box.addEventListener('change', (function(e){
			frame_handler.updateFrameList(Math.floor(number_box.value));
			frame_handler.drawFrame();
			}));
			next_button.addEventListener('click', (function(e){
			frame_handler.nextFrame();
			frame_handler.drawFrame();
			}));
			prev_button.addEventListener('click', (function(e){
			frame_handler.previousFrame();
			frame_handler.drawFrame();
		}));
		var draw_frame_interval = setInterval((function(){
			try{
				frame_handler.drawFrame();
			}catch(e){
				console.log(e);
			}
			}), 250); // Pick up any dropped frames.
            }
        </script>
       <!--  drawing page script ending here -->
    </head>
    <body onload="load()">
		<form enctype="multipart/form-data" method="post" id="main_form" name="fileinfo">
    	<label>Your email address:</label>
  		<input type="email" autocomplete="on" autofocus name="email_addr" placeholder="email" required size="32" maxlength="64" />
		<br/>
		<label>Ultrasound Video File:</label> 
		<input type="file" id="ultrasound_video_file" name="ultrasound_video" accept="video/*">
		<br/>
		<label>Number of frames to initalize:</label>
		<input type="number" id="ultrasound_segment_count" name="num_segments" value="1">
    	</form>
	    <div class="concealed" id='hidden_block'>
        	<p>Draw Canvas:</p>
        	<canvas id="frame_canvas" style="#d3d3d3;">;
        		Your browser does not support the HTML5 canvas tag.
        	</canvas>
			<br/>
        	<!-- <button class='action_button' id='submit_button'   value ='Submit'>Submit</button> -->
        	<input class='action_button' id='submit_button'   value ='Submit'>Submit</button>
        	<button class='action_button' id='clear_button'    value='Clear'>Clear</button>
        	<button class='action_button' id='next_frame_button'     value='Next'>Next</button>
       		<button class='action_button' id='previous_frame_button' value='Previous'>Previous</button>
         <!--<p>Video:</p>-->
        	<video id='ultrasound_video_container' hidden></video>            
    	</div>
    </body>
</html>
